/* 爱发电打赏组件 - 暗黑模式适配（全局生效） */
html.dark .afdian-donate-container {
  border-color: #333;
  background-color: #222;
}
html.dark .afdian-donate-container .donate-tip {
  color: #ddd;
}

/*示亡符*/
.dead {
  display: inline-block;
  padding: 0 2px;
  border: 1px solid currentColor;
  margin: 0 1px;
  line-height: 1.2;
}

html.dark .dead {
  border-color: #ddd;
}
